<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <targets>
    <target type="BufferingWrapper"
            name="SmtpBuffer"
            bufferSize="100000"
            flushTimeout="60000"
            slidingTimeout="false"
            overflowAction="Flush">
      <target type="Mail" name="mail"
              subject="Parking Pass Alert"
              to="peter.barmykov@epicsoftwaredev.com"
              from="parkingPass-logging-stage@ustamailing.com"
              body="${longdate} ${uppercase:${level}} ${logger:shortName=true} ${message} ${exception:format=tostring:innerFormat=StackTrace}${newline}"
              smtpServer="vpcapp.usta.com"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="SmtpBuffer"/>
  </rules>
</nlog>