<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="noreplyEmail" value="test@test.com" />
  </appSettings>
  <log4net debug="true">
    <appender name="SmtpAppender" type="Log4Net_SmtpThrottlingAppender.SmtpThrottlingAppender, Log4Net_SmtpThrottlingAppender">
      <flushInterval value="00:00:10" />
      <flushCount value="0" />
      <includeContextLogEvents value="false"/>"
      <maxBufferSize value="0"/>
      <to value="peter.barmykov@epicsoftwaredev.com" />
      <from value="parkingPass-logging-stage@ustamailing.com" />
      <subject value="IDS Service Alert" />
      <smtpHost value="vpcapp.usta.com" />
      <bufferSize value="1" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="warn"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{MM/dd/yyyy HH:mm:ss,fff} %-10level %type %m %n %exception" />
      </layout>
    </appender>
    <logger name="log">
      <level value="ALL" />
      <appender-ref ref="SmtpAppender" />
    </logger>
  </log4net>
</configuration>